/*body {*/
    /*text-align: center;*/
    /*padding: 5%;*/
    /*padding-left: 20%;*/
    /*padding-right: 20%;*/
    /*border: 5px solid red;*/
/*}*/

body{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 0px;

}


#spareroom-logo {
    background-image: url("./assets/small-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 3em;
    justify-content: center;
    max-width: 100%;

}


.main-flex-container {
    display: flex;
    flex-direction: column;
    /*border: 2px solid red;*/
}


.main-flex-item{
    /*border: 1px solid blue;*/
    align-self: stretch;
}

nav {
    background-color: #005480;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
}

nav > a {
    display: inline;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Arial;
    padding-left: 5px;
    font-size: 16px;
}

.event-name {
    color: #003d5d;
    padding-top: 10px;
    padding-bottom: 10px;
}

.event-image {
    display: flex;

    max-height: 30em;
    max-width: 100%;
    justify-content: center;
}

.container {
    position: relative;
    text-align: center;
    color: red;
}


.top-left {
    position: absolute;
    flex-shrink: ;
    top: 0px;
    left: 10px;
    background-color: #FFFFFF;
}

.name-premises {
    display: flex;
    color: #003d5d;
    top: 0px;
    margin: 0;
    text-align: left;
    font-weight: bold;
    font-family: "Open Sans";
    font-size: 18px;
    align-items: flex-start;
}

.name-event-place {
  color: #003d5d;
    top: 0px;
    margin: 0;
    text-align: left;
    font-weight: bold;
    font-family: "Open Sans";
    font-size: 16px;

}

.day-event, .time-event {
    color: #5e5e5e;
    padding-top: 0px;
    text-align: left;
    font-weight: bold;
    font-family: "Arial";
    font-size: 13px;
    margin: 0;
}

.time-event {
    font-size: 15px;
}

.directions-link-event {
    color: #3480da;
    padding-top: 0px;
    text-align: left;
    font-family: "Arial";
    font-size: 10px;
    margin: 0;

}

.form-header {
    color: #003d5d;
    padding-top: 0px;
    text-align: left;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 16px;
    width: 13em;

}

.form-radio {
    word-wrap: break-word;
    display: flex;
}

#btn-orange {
    background-color: #F99626;
    border-radius: 5px;
    color: #FFFFFF;
}

#map {
    width: 100%;
    height: 400px;
    background-color: #FFFFFF;
}

.header-question {
    color: #5e5e5e;
    font-weight: bold;
}

.privacy-policy {
    color: #5e5e5e;
    font-size: 10px;
    font-family: Arial;
}

.privacy-link {
margin-top: 0
}






@media screen and (min-width: 400px){
    #spareroom-logo {
        background-image: url("./assets/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        height: 5rem;
        justify-content: center;
        max-width: 100%;

    }
}



